# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Large data
data/GTSRB/
data/
*.zip

# Model weights
*.pth
*.pt

# Logs / misc
*.log